DEV=True

DATABASE_URL=postgresql+asyncpg://postgres:password@127.0.0.1:5432/db_name
TONCONNECT_BROKER_URL=redis://login:password@127.0.0.1:6379/0
GAME_BROKER_URL=redis://login:password@127.0.0.1:6380/0
GAME_CONNECTION_BROKER_URL=redis://login:password@127.0.0.1:6380/1

TELEGRAM_API_KEY=5...:B...
TELEGRAM_API_KEY_DEV=

WEBHOOK_HOST=
WEBHOOK_PATH=
WEBAPP_HOST=
WEBAPP_PORT=

TELEGRAM_BOT_URL=https://t.me/mybot_bot
TELEGRAM_BOT_URL_DEV=

MINIAPP_HOST=127.0.0.1
MINIAPP_PORT=80
CERT_FILE_PATH=
KEY_FILE_PATH=

# providers
TON_API_KEY=
TONCENTER_API_KEY=

MANIFEST_URL=https://.../manifest.json

MAIN_WALLET_MNEMONICS=["word1","word2","word3",...]
MAIN_WALLET_ADDRESS=U...
MAIN_COLLECTION_ADDRESS=E...