DEV=True

DATABASE_URL=postgresql+asyncpg://postgres:password@127.0.0.1:5432/db_name
REDIS_URL=redis://:password@127.0.0.1:6379/0

TELEGRAM_API_KEY=5...:B...

WEBHOOK_HOST=
WEBHOOK_PATH=
WEBHOOK_PORT=
PATH_CERT=
TELEGRAM_BOT_URL=https://t.me/mybot_bot

WEBAPP_HOST=127.0.0.1
WEBAPP_PORT=443

# providers
TON_API_KEY=
TONCENTER_API_KEY=

MANIFEST_URL=https://.../manifest.json

MAIN_WALLET_MNEMONICS=["word1","word2","word3",...]
MAIN_WALLET_ADDRESS=U...
MAIN_COLLECTION_ADDRESS=E...