DEV=True

DATABASE_URL=postgresql+asyncpg://postgres:password@127.0.0.1:5432/db_name

TELEGRAM_API_KEY=5...:B...

WEBHOOK_HOST=
WEBHOOK_PATH=
WEBHOOK_PORT=
PATH_CERT=
TELEGRAM_BOT_URL=https://t.me/mybot_bot

TON_API_KEY=
MAIN_WALLET_MNEMONICS=["word1","word2","word3",...]
MAIN_WALLET_ADDRESS=U...
MAIN_COLLECTION_ADDRESS=E...